body {
  background-color: #D2B48C;
}

header {
  background-size: cover;
  background-position-y: -400px;
  background-image: url(../images/DSC_0437.JPG);
  background-color: black;
  background-attachment: fixed;
  height: 500px;
  padding: 1px;
  margin: 0px;
}

.header_title {
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 55px;
  font-family: "Righteous", cursive;
  border: #D2B48C solid 10px;
  border-radius: 3px;
  background-color: #deeadf;
  width: 500px;
  padding: 15px 30px 15px 30px;
}

.header_h {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.navbar_logo {
  height: 80px;
  width: 80px;
  margin: -15px 0px 0px 35px;
}

.nav_bar__link {
  margin: 0px 55px 0px 10px;
  text-decoration: none;
  border-bottom: solid 2px black;
  color: #DCDDCC;
  font-size: larger;
  padding-bottom: 8px;
  font-family: "Righteous", cursive;
}

section {
  background-color: #DCDDCC;
  margin: 0px;
  padding: 1px;
}

.page {
  height: 4000px;
}

.first_title {
  text-align: center;
  margin-top: 15px;
  font-size: 35px;
  font-family: "Righteous", cursive;
  text-decoration: underline;
}

.concertV {
  display: flex;
  padding-top: 50px;
  width: 100%;
  height: 1400px;
}

.firstsection_columnCV {
  height: 1370px;
  width: 25%;
  margin-left: 5px;
}

.secondsection_columnCV {
  height: 1370px;
  width: 25%;
}

.thirdsection_columnCV {
  height: 1370px;
  width: 25%;
}

.fourthsection_columnCV {
  height: 1370px;
  width: 25%;
  margin-right: 10px;
}

.concert_image1V {
  margin-top: 23px;
  margin-left: 20px;
  width: 433px;
  height: 650px;
  background-color: grey;
}

.concert_image2V {
  margin-top: 23px;
  margin-left: 20px;
  width: 433px;
  height: 650px;
  background-color: grey;
}

.concert_image3V {
  margin-top: 23px;
  margin-left: 10px;
  width: 433px;
  height: 650px;
  background-color: grey;
}

.concert_image4V {
  margin-top: 23px;
  margin-left: 10px;
  width: 433px;
  height: 650px;
  background-color: grey;
}

.concert_image5V {
  margin-top: 23px;
  margin-left: 0px;
  width: 450px;
  height: 650px;
  background-color: grey;
}

.concert_image6V {
  margin-top: 23px;
  margin-left: 0px;
  width: 450px;
  height: 650px;
  background-color: grey;
}

.concert_image7V {
  margin-top: 23px;
  margin-left: 10px;
  width: 450px;
  height: 650px;
  background-color: grey;
}

.concert_image8V {
  margin-top: 23px;
  margin-left: 10px;
  width: 450px;
  height: 650px;
  background-color: grey;
}

.concertH {
  height: 1800px;
}

.firstsection_columnCH {
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.secondsection_columnCH {
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.thirdsection_columnCH {
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.fourthsection_columnCH {
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.concert_image1H {
  margin-top: 23px;
  margin-left: 20px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.concert_image2H {
  margin-top: 23px;
  margin-left: 20px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.concert_image3H {
  margin-top: 23px;
  margin-left: 10px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.concert_image4H {
  margin-top: 23px;
  margin-left: 10px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.concert_image5H {
  margin-top: 23px;
  margin-left: 0px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.concert_image6H {
  margin-top: 23px;
  margin-left: 0px;
  width: 800px;
  height: 533px;
  background-color: grey;
}

.second_title {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
  font-family: "Righteous", cursive;
  text-decoration: underline;
}

.footer {
  height: 300px;
  background-color: #D2B48C;
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_logo {
  height: 200px;
  width: 200px;
  margin-top: 50px;
  margin-right: 25px;
}

.footer_title {
  margin-top: 25px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

footer_socialmedia {
  display: flex;
  text-decoration: none;
}

.footer_a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  margin-top: 15px;
}

.footer_pic {
  height: 30px;
  width: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
}/*# sourceMappingURL=portfolio.css.map */