$main_color : #DCDDCC;
$secondary_color: #deeadf;
$third_color: #D2B48C;

$main_font : 'Righteous', cursive;
$secondary_font : 'Poppins', sans-serif;

html {
  height: auto;
}

body {
  background-color: $third_color;
}

header {
  background-size: cover;
  background-position-y: -400px;
  background-image: url(../images/DSC_0437.JPG);
  background-color: black;
  background-attachment: fixed;
  height: 500px;
  padding: 1px;
  margin: 0px;
}

.header_title {
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 55px;
  font-family: $main_font;
  border: $third_color solid 10px;
  border-radius: 3px;
  background-color: $secondary_color;
  width: 500px;
  padding: 15px 30px 15px 30px;
}

.header_h {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.navbar_logo {
  height: 80px;
  width: 80px;
  margin: -15px 0px 0px 35px;
}

.nav_bar__link {
  margin: 0px 55px 0px 10px;
  text-decoration: none;
  border-bottom: solid 2px black;
  color: $main_color;
  font-size: larger;  
  padding-bottom: 8px;
  font-family: $main_font;
}




// DEBUT DE LA SECTION PAGE 


section {
  background-color: $main_color;
  margin: 0px;
  padding: 1px;
}

.page {
  height: auto;
}

.cube {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  margin-bottom: 30px;
}


// IMAGE CONCERT HORIZONTAL ET VERTICAL 

// IMAGE CONCERT VERTICAL

.first_title {
  text-align: center;
  margin-top: 15px;
  font-size: 240%;
  font-family: $main_font;
  text-decoration: underline;
}

.concertV {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}



 // IMAGES DANS LES COLONNES
    //  COLONNE 1


    .firstsection_columnCV {
      height: auto;
      width: 25%;
      margin-left: 8px;
    }

    .concert_image1V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }

    .concert_image2V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }


    //  COLONNE 2


    .secondsection_columnCV {
      height: auto;
      width: 25%;
    }

    .concert_image3V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }

    .concert_image4V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }
    

    //  COLONNE 3


    .thirdsection_columnCV {
      height: auto;
      width: 25%;
      margin-left: 2px;
    }

    .concert_image5V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }

    .concert_image6V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }


    //  COLONNE 4


    .fourthsection_columnCV {
      height: auto;
      width: 25%;
      margin-right: 8px;
    }

    .concert_image7V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }

    .concert_image8V {
      margin-top: 23px;
      margin-left: 10px;
      width: 94.34%;
      height: 47.45%;
      max-width: 100%;
    }


// IMAGE CONCERT HORIZONTAL


.concertH {
  height: auto;
}


// IMAGES DANS LES COLONNES
    //  COLONNE 1

.firstsection_columnCH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.concert_image1H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.concert_image2H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}


//  COLONNE 2


.secondsection_columnCH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.concert_image3H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.concert_image4H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}


//  COLONNE 3

.thirdsection_columnCH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.concert_image5H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.concert_image6H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}



// SECTION IMAGE SNSM HORIZONTAL ET VERTICAL

.second_title {
  text-align: center;
  margin-top: 15px;
  font-size: 240%;
  font-family: $main_font;
  text-decoration: underline;
}


// IMAGE SNSM HORIZONTAL

.snsmH {
  padding-top: 50px;
  width: 100%;
  height: auto;
}

// COLONNE 1

.firstsection_columnSH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.snsm_image1H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.snsm_image2H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}


//  COLONNE 2

.secondsection_columnSH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.snsm_image3H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.snsm_image4H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}


//  COLONNE 3

.thirdsection_columnSH {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.snsm_image5H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}

.snsm_image6H {
  width: 86.39%;
  max-width: 100%;
  height: auto;
}


// IMAGE SNSM VERTICAL

.snsmV {
  height: auto;
  width: 100%;
  display: flex;
  margin-top: 80px;
  margin-bottom: 100px;
}


// COLONNE 1 


.firstsection_columnSV {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 5px;
}

.snsm_image1V {
  width: 58.91%;
  max-width: 100%;
}


// COLONNE 2

.secondsection_columnSV {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 5px;
}

.snsm_image2V {
  width: 58.91%;
  max-width: 100%;
  height: 100%;
}



.footer {
    height: 300px;
    background-color: $third_color;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer_logo {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-right: 25px;
    
  }
  
  .footer_title {
    margin-top: 25px;
    margin-left: 20px;
    font-family: $secondary_font;
  }
  
  footer_socialmedia {
    display: flex;
    text-decoration: none;
  }
  
  .footer_a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-top: 15px;
  }
  
  .footer_pic {
    height: 30px;
    width: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
  }
  
  